extends ../layout

block content
  main.articles-category
    h1 #{activeCategoryTab}
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      +categoryBlock(categories, false, activeCategoryTab)
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      +articlesList(articles)
    +pagination(page, totalPages, 2, `?`)
